* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #86bbd8;
}
main {
  text-align: center;
}
h1 {
  margin: 1rem;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  height: 20vmin;
  width: 20vmin;
  font-size: 8vmin;
  color: red;
  background-color: #86bbd8;
  cursor: pointer;
  border:solid black
}
.box:hover {
  background-color: #94bed7;
}

.btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: aliceblue;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
#msg {
  font-size: 8vmin;
  color: aliceblue;
}
#new-game {
  margin-top: 1rem;
}
.hide {
  display: none;
}

.bl {
  border-left: 0;
}
.br {
  border-right: 0;
}
.bt {
  border-top: 0;
}
.bb {
  border-bottom: 0;
}
